    html,
    body {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background: linear-gradient(90deg, rgba(255, 165, 0, 1) 18%, rgba(41, 39, 39, 1) 34%);
    }
    
    .board-container {
        margin: auto;
    }
    
    tr {
        margin: 0;
        padding: 0;
    }
    
    .cell {
        font-size: 30px;
        height: 100px;
        width: 100px;
        text-align: center;
        border: 10px inset orange;
        border-radius: 30px;
        background-color: black;
        color: white;
        transition: background-color, 0.8s;
    }
    
    .unmarked:hover,
    button:hover {
        background-color: gray;
        cursor: pointer;
        transition: background-color, 0.8s;
    }
    
    button {
        margin: auto;
        color: white;
        background-color: rgba(0, 0, 0, 0.856);
        height: 100px;
        width: 150px;
    }
    
    button.random-mode {
        line-height: 5ch;
        width: 15ch;
    }
    
    .marked {
        background-color: gray;
    }
    
    .marked-last {
        background-color: green;
    }
    
    .marked-wrong {
        background-color: red;
    }
    
    .upper {
        height: 300px;
        font-size: 30px;
    }
    
    .timer-display {
        margin-top: auto;
        height: 100px;
        width: 18ch;
        line-height: 40px;
        text-align: center;
        font-weight: 600;
        /* position: relative; */
    }
    
    .timer-display span {
        color: gray;
    }
    
    .next-num-display {
        margin-top: auto;
        height: 100px;
        width: 10ch;
        line-height: 40px;
        text-align: center;
        font-weight: 600;
    }
    
    .next-num-display span {
        color: rgba(0, 128, 0, 0.781);
    }
    
    .level-select {
        margin: auto;
        text-align: center;
        width: 70%;
    }
    
    .modal {
        height: 50%;
        width: 50%;
        text-align: center;
        background-color: rgba(92, 91, 104, 0.9);
        border-radius: 10px;
        position: absolute;
        top: 23%;
        left: 23%;
    }
    
    .on {
        background-color: rgba(0, 128, 0, 0.856);
    }